
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    
    
    
}

header{
    padding: 20px 100px;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}

.logo {
    display: flex;
    margin-top: 0;
    color: black;
    text-decoration: none;
    height: 100px;
    width: 150px;
    
}



.navbar a{
    position: relative;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding: 20px 20px;
}

.navbar a:hover{
background: red;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(Supermercado.jpg);
    background-size: cover;
    box-sizing: border-box;
    padding: 2% 0;
    
}

.contenedor-imagen{
    width: 30% ;
    height: 100%;
}

.imagen{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#product-list {
    /* width: 100%; */
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 20px;
    justify-content:space-around;
    row-gap: 3vh;
    
}


.product-item {
    background-color: gray;
    border: 1px solid beige;
    border-radius: 5px;
    padding: 70px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 30%;
    /* margin-bottom: 10px; */
    
}

.product-item input {
    width: 60px;
    padding: 5px;
    margin-top: 5%;
    margin-left: 10px;
    background: blanchedalmond;
    display: flex;
}

.center-button{
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buy-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
    justify-content: space-between;
    display: flex;
    align-items: center;
    }

#buy-button:hover {
    background-color: red;
}

#message {
    margin-top: 20px;
    font-size: 1.2em;
    align-items: center;
    text-align: center;
    background-color: #333;
    color: white;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}